<a href="https://colab.research.google.com/github/anaghck/OIBSIP/blob/master/EDA_on_Retail_Sales_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/customer_shopping_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

In [4]:
pd.concat([df.head(3), df.tail(3)])

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [6]:
df.dtypes

invoice_no         object
customer_id        object
gender             object
age                 int64
category           object
quantity            int64
price             float64
payment_method     object
invoice_date       object
shopping_mall      object
dtype: object

In [7]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'], dayfirst=True)
df.dtypes

invoice_no                object
customer_id               object
gender                    object
age                        int64
category                  object
quantity                   int64
price                    float64
payment_method            object
invoice_date      datetime64[ns]
shopping_mall             object
dtype: object

# Statistical View Of the numerical Data

In [8]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
age,99457.0,43.427089,18.0,30.0,43.0,56.0,69.0,14.990054
quantity,99457.0,3.003429,1.0,2.0,3.0,4.0,5.0,1.413025
price,99457.0,689.256321,5.23,45.45,203.3,1200.32,5250.0,941.184567
invoice_date,99457,2022-02-04 02:46:59.783424,2021-01-01 00:00:00,2021-07-19 00:00:00,2022-02-05 00:00:00,2022-08-22 00:00:00,2023-03-08 00:00:00,NaN

# Statistical View Of the Object Data

In [9]:
df.describe(include = 'object').T

                count unique               top   freq
invoice_no      99457  99457           I232867      1
customer_id     99457  99457           C273973      1
gender          99457      2            Female  59482
category        99457      8          Clothing  34487
payment_method  99457      3              Cash  44447
shopping_mall   99457     10  Mall of Istanbul  19943

In [13]:
df.columns

Index(['invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity',
       'price', 'payment_method', 'invoice_date', 'shopping_mall'],
      dtype='object')

In [5]:
df.isnull().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64